/* Home.css */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
}


/*header*/
header {

    background-color: cyan;                             /* is alright to have a back-ground color as if the page loads up slowly you will see the background color first before seeing the image loaded up*/
    background-image: url("Images/ArtScienceMuseum.jpg");  /*you use url instead of putting it in html and then using the relative path, is because you want to be able to style, to provide i as a background, hence only CSS can style the background hence i put it as a URL instead
    background-size: cover;  /*is to ensure the img fix perfectly to the screen size, hence even if smaller or bigger the image will still be there and not be affected regardless*/
    background-size: 2000px;                                 /*background size will ensure that it is always a 100% of the width, so if you drag in and drag out the width will never change however as you open up bigger or small the image will focus onto one point becoming further or closer to that point*/
      
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;    
}


/*NAV COMMON STYLING CAN BE FOUND IN NORMALIZE.CSS
.nav_logo{   /*logo meaning the words A&Y Real Estate thing
    color:rgb(28, 0, 128);
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    margin: 20px;  /*to center it by pushing it to have 20px all around everywhere
}

nav{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;                    /*this is to space the logo and the unordered list in the navigation bar
    
}

nav ul li{                                      /*this is solely to arrange the element in the unordered list in the nav bar
    display:inline-block;

    border:black 2px solid;

    margin:10px;                               /*hence if you want to space them out you can use margin which is outside the mborder to space them out
    /*
    display:flex;                              //theres no need to display flex again already as the inline block already do that if you do this you will just override the previous display command
    justify-content: space-around;             //hence if you want to space them out you can use margin which is outside the mborder to space them out
    
    cursor:pointer;            /*this is so whenever you hover over it it changes from a cursor to a pointer
}

nav ul li a:hover{               /*this is to show a color change when you hover over them, to make it simpler for them to notice what they are hovering across
    color: #008a90;
}

.nav_page_links{
    margin: 15px;  /*to center it by pushing it to have 20px all around everywhere
}*/




.WhatsApp_logo{
    margin: 10px;  /*to center the height by pushing it to have 10px all around everywhere*/
    /*and then shift the 50px to the right using the second argument of margin*/
    /*text-decoration: none;    reducees the underline below the link*/
}

.WhatsApp_logo2{
    background-color: blue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; /*this is to make the box containing the information have special design such as the corner being slightly rounded instead of it just being a square box*/

    color: white; /*this is the color for the text which is also a hyperlink, if want to remove the underline i can just add text-decoration : none; for the link href*/

    position: absolute; /*position it direcrtly above the yen image*/
    top:75px;
    right:200px;

    padding:10px 20px; /*this is to ensure that the text and the image is not sticked to the box's border and make the sides longer*/
}

.WhatsApp_logo3{
    margin:0; /*just a useless placeholder*/
}


.header_logo{
    position:absolute;
    top: 100px;
    left: 50px;

    font-size: 50px; 
    text-transform: uppercase;
    color:#ffffff;
    
}

/*header nav ul li a{                  /*here you stlye all anchor elements 
    text-decoration: none;
    /*padding: 6px;
    color:white; 
    border-radius: 30px;        /* this is so when you hover to the anchor elements within header the button will be ovul, not squrish
}*/

header div{
    color: black;
}

.Standalone_descriptions{
    background-color: rgb(37, 63, 63);
    color: white;
    width:250px;
    height:400px;

    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;

    padding: 20px; /*this is so the words are not not very near to the border*/

    z-index: 1; /*to overlap the two pages header and section without taking up additional space*/
    position: absolute;
    top: 575px;
    left: 50px
}


.YenImage{
    position:absolute;
    bottom:0;             /*this is to stick to the bottom of the border*/
    right:100px;

    width:333px;
    height:500px;
}




/*section*/
section{
    background-color: lightsalmon;
}
/*section1 features*/
.section_1{
    background-color: rgba(19, 19, 146, 0.753);

    display:inline-block;
    
    /*
    display:flex;
    flex-direction: column;
    justify-content: space-around;          theres no need for this since we used inline blocks
    text-align: center;*/
    border: red 10px solid;
    border-radius: 10px;
    width: 400px;           /*this is so that we fixed each inline block to a fix width not allowing the words to affect by stretching the inline block*/
    height: 650px;

    padding: 20px;          /*this is so the border is not stuck to the word*/
    margin: 0px 50px;         /*this is so to space those inline block not cramped tgt*/
}

/*.section_1 button{
    border-radius: 50px;         useless as you are not even accessing the button 
}*/ 

.LatestProperties{
    text-align: center;
    background-color: #008a90;

    padding-top: 200px;      /*this is to make sure to push it the content down, but note you can actually use margin too, although margin technically is the correct term to use to push tit down using the space outside of the bex, however you want the space to still contain the color and not push the whole section down by 200px and the z-index for the para will be useless hence this is used to add padding to the content will still pusing it down*/
}

/*section2*/
.section_2{
    background-color: rgba(106, 21, 114, 0.753);
}




/*section3*/
.section_3 div{
    display:inline-block;         /*this is so the map will only occupy the width it require and then the form will also only occupt the width it requires, hence they are also not on different lines because they only take up the line require*/
    position:static;           /* this is so when the screen becomes smaller the inline block will move on to the next line and not affect the page */
    margin: 100px;
}



.flex-container{
    display:flex;
    flex-direction: row;
    justify-content: center;

    background-color: #008a90;
}

.flex-item{                       /*here is to specifically target the all the flex items together but seprate it with the direction/arrangmet*/
    background-color: Yellow;   /*here you define the background color for each flex item, so each flex item is has yellow background.*/
    border: red 3px solid;
    
    width: 308px;               /*here you specify the standard width for all boxes, then you can specify all their height and minmium height they must have depending on the content in it*/
    height: 650px;              /*note i make the width 308 same as the image width so the image can fully fill the flexbox then use the padsding to add equal to all 4 sides of the box*/
    padding: 20px;              /*this is to make sure the border is not so close to the words(content)*/
    margin: 30px;               /*this is to ensure that they have spacing among themselves, since they are centered all tgt they need to space out with each other*/
}










#contact_us_link{
    transition-duration: 5s;     /*this is so the transition does not immediately brings you location rather it does it slowly, creating a transition effect to bring you there slowly*/
}/*apparently it does not work at all*/


/*Responsive Web Design*/

@media screen {
    
}